{
  "mcpServers": {
    "linear-server": {
      "command": "npx",
      "args": [
        "-y",
        "@modelcontextprotocol/server-linear"
      ],
      "env": {
        "LINEAR_API_KEY": ""
      }
    }
  }
}
